<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirige todas las solicitudes a index.php si no es un archivo o directorio existente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>