body{
    background-color: #ededed;
}
.header_navbar{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    
    justify-items: center;
    align-items: center;
    //background-color: #f3f4f7;
    box-shadow: -2px 20px 14px -26px rgba(0, 0, 0, .66);
    
    padding: 8px 10px 12px 10px;
    column-gap: 20px;
    background-color: #131921;
    position: sticky;
    width: 100%;
    z-index: 99;

    @media (min-width: 320px){
        display: grid;
        grid-template-columns: 20% 48% 26%;
        column-gap: 1rem;
    
    }

    .navbar-logotipo{
        a{
            margin: 0;
            color: azure;

            @media (min-width: 320px) {
                font-size: 8px;
            }

            @media (min-width: 768px) {
                font-size: 13px;
            }

            @media (min-width: 1024px) {
                font-size: 16px;
            }
        }
      
    }

    .navbar-buscar{
        width: 100%;
        height: 100%;

        @media(min-width: 375px){
            width: 79%;
            
        }
        @media(min-width: 768px){
            width: 88%;
            
        }

        @media(min-width: 1024px){
            width: 100%;
            
        }

    }

    .navbar-buscar_div-search{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .nav-search-input{
            font-size: 16px;
            color: rgba(0,0,0,.8980392157);
            margin: 0;
            border-radius: 2px 0 0 2px;
            height: 40px;
            width: 100%;
            padding: 10px 60px 10px 15px;
            border-style: none;
            
            &:focus{
                outline: none;
            }

            @media(min-width: 320px){
                height: 24px;
                font-size: 10px;
                width: 77%;
                
            }

            @media(min-width: 375px){
                height: 24px;
                font-size: 10px;
                
            }

            @media(min-width: 768px){
                height: 28px;
                font-size: 14px;
                width: 92%;
            }
            @media(min-width: 1024px){
                height: 40px;
                width: 100%;
            }
            
        }

        .nav-search-btn{
            font-size: 22px;
            width: 46px;
            height: 40px;
            cursor: pointer;
            border: none;
            background-color: #ffffff;
            padding: 0;
            border-radius: 0 2px 2px 0;
            
            @media(min-width: 320px){
                font-size: 14px;
                width: 41px;
                height: 24px;
                
            }

            @media(min-width: 375px){
                font-size: 13px;
                height: 24px;
            }

            @media(min-width: 768px){
                font-size: 16px;
                width: 33px;
                height: 28px;
                
            }

            @media(min-width: 1024px){
                font-size: 22px;
                width: 46px;
                height: 40px;
                
            }

        }


    }

    .navbar-iniciosesion{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .ingresar{
            font-size: 1.5rem;
            margin: 0;
            color: azure;
            font-weight: 600;

            &:hover{
                color: #dfdfdf;
            }
        }
        
        .div-carrito{
            .badge{
                top: 0;
                background-color: #dd3d45;
                color: #fff;
                padding: 0 5px;
                border-radius: 9px;
                font-size: 1rem;
                font-weight: 700;
                position: absolute;
                margin: 0
            }

            .fa-solid {
                font-size: 1.8rem;
                color: white;
    
                &:hover{
                    color: #dfdfdf;
                    cursor: pointer;
                }
                
                @media (min-width: 320px){
                    font-size: 1.4rem;

                }
                
                @media (min-width: 768px){
                    font-size: 1.8rem;

                }

            }
        }
        
        .div-auth{
            margin: 0;
            padding: 0;
            list-style: none;
            a{
                color: #fff;
                font-size: 12px;
                margin: 0;
                font-weight: 600;

                @media (min-width: 320px) {
                    font-size: 9px;
                }
                
                @media (min-width: 768px) {
                    font-size: 12px;
                }

            }
            .li-usuario{
                position: relative;
                float: left;

                ul{
                    width: 164px;
                    position: absolute;
                    z-index: 999;
                    background-color: #131921;
                    display: none;
                    color: #dfdfdf;
                    list-style: none;
                    padding: 0;
                    text-align: center;
                    overflow: auto;

                    li{
                        float: none;
                        font-size: 12px;
                        margin: 0;
                        font-weight: 600;
                        padding-top: .7rem;
                        padding-bottom: .7rem;

                        a{
                            color: #fff;

                        }
                    }    
    
                    &:hover{
                        background-color: #1e2731;
                    }
                  
                }
                &:hover ul{
                    display: block;
                }

            }
            
        }

        @media (min-width: 320px) {
            width: 9.3rem;
        }

        @media (min-width: 768px) {

            width: 15rem;

        }

        @media (min-width: 1024px) {

            width: 20rem;

        }

    }
}

@media (min-width: 375px) {
    .header_navbar{
        display: grid;
        grid-template-columns: 20% 58% 12%;
        column-gap: 9px;
    }

    .navbar-logotipo{
        .a{
            font-size: 10px;
        }
    }
   
}

@media (min-width: 1024px) {
    .header_navbar{
        display: grid;
        grid-template-columns: 19% 60% 20%;

        column-gap: 9px;
    }

    .navbar-logotipo{
        .a{
            font-size: 10px;
        }
    }
   
}


main{
    .secction{
        margin-top: 4rem;
        // background-color: #ffffff;
        padding: 1.5rem;
        max-width: 1215px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 5rem;

        .sidebar-filtros{
            // flex: 1 1;
            max-width: 294px;
            min-width: 210px;
            // width: 100%;
            background-color: #ffffff;
            box-shadow: -2px 20px 11px -26px rgba(0, 0, 0, .66);
            padding: 1.5rem;

            //filltro Marcas
            .marcas{
                .contenedor-marca{
                    display: flex;
                    justify-content: flex-start;
                    gap: 1rem;

                    .label-filter{
                        color: #424242;
                        font-size: 1.5rem;
                    }
                }
            }

            //Filtro precios
            .precios-filtros{
                margin-top: 7px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .input-minimo{
                    width: 6.5rem;
                    border-radius: 6px;
                    border: 1px solid #b2b2b2;
                    padding: 7px;
                    font-size: 12px;
                }
                .input-maximo{
                    width: 6.5rem;
                    border-radius: 6px;
                    border: 1px solid #b2b2b2;
                    padding: 7px;
                    font-size: 12px;

                }
            }

            .alerta-error-precio{
                // display: none;
                font-size: 11px;
                color: #ff2525;
                
                
            }

        }

        .resultados{
            width: 100%;
            .secction-container{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
    
            .secction_resultados{
                width: 885px;
                background-color: #ffffff;
                // box-shadow: -2px 20px 11px -26px rgba(0, 0, 0, .66);
                padding: 1.5rem;
                margin-bottom: 5px;
    
                .secction_producto{
                    display: flex;
                    
                    .card_producto-portada{
                        height: 196px;
                        max-height: 196px;
                        max-width: 196px;
                        width: 196px;
                        margin-right: 5rem;
                    }
    
                    .line{
                        text-decoration: line-through;
                        margin: 0;
                        font-size: 1.1rem;
                        font-weight: 500;
        
                    }
        
                    span{
                        font-size: 1.1rem;
                        color: #4aae62;
                        font-weight: 600;
                    }
                    .card_producto-informacion{
                        width: 100%;
                        .link-nombre-producto{
                            font-size: 1.8rem;
                            font-weight: 400;
                            margin: 5px 0 0 0;
                            color: black;
                        }
                    }
                    .producto-informacion_contenido{
                        .producto-precio{
                            font-size: 1.7rem;
                            font-weight: 500;
                            margin: 0;
                            span{
                                font-size: 1.1rem;
                                color: #4aae62;
                                font-weight: 600;
                                margin-left: 5px;
                            } 
                           
                        }
                        .producto-mesesintereses{
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin: 0;
                            margin-top: 10px;
        
                           
                        }
                        .producto-promocion{
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin-top: 10px;
        
                            span{
                                font-size: 1.1rem;
                                color: #4aae62;
                                background-color: #e7f5ed;
                                font-weight: 600;
                                padding: 5px;
                            }
                        }
                    }
    
                    @media(min-width: 320px){
                    
                        display: flex;
                        flex-direction: column;
                    
                    }
    
                    @media(min-width: 768px){
                    
                        display: flex;
                        flex-direction: column;
                    
                    }
                    @media(min-width: 1024px){
                    
                        display: flex;
                        flex-direction: row;
                    
                    }
    
                }
    
                @media(min-width: 320px){
    
                    width: 286px;
        
                }
    
                @media(min-width: 768px){
    
                    width: 100%;
        
                }
    
    
    
            }
            
        }
      
        @media(min-width: 320px){

            display: flex;
            flex-direction: column;

        }
        @media(min-width: 768px){

            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

    }

    // Precio
    .label-filter{
        color: #727272;
        font-size: 1.5rem;
        margin: 0;
        display: block;

        &:hover{
            cursor: pointer;
            color: #616161;
        }
    }

}



